freetyp
libpng
lua
luagit
Makefile
pcre
sdl2
sdl2-image
sdl2-mixer
sqlite
zlib
crawl-gbd.py
Makefile.app-bundle
Makefile

.cquery_cache/
.DS_Store
.vscode/
.vs

*.sublime-workspace
*.sublime-project
games.d/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
