# Developers and former developers
sorear <stefanor@cox.net>
sorear <stefan@localhost.localdomain>
haranp <haranp@glaucus.(none)>
haranp <haranp@users.sourceforge.net>
haranp <haranp@c06c8d41-db1a-0410-9941-cceddc491573>
dpeg <dploog@users.sourceforge.net>
dpeg <dploog@c06c8d41-db1a-0410-9941-cceddc491573>
jpeg <j-p-e-g@sourceforge.net>
jpeg <j-p-e-g@users.sourceforge.net>
jpeg <j-p-e-g@c06c8d41-db1a-0410-9941-cceddc491573>
due <bookofjude@gmail.com>
due <bookofjude@users.sourceforge.com>
due <bookofjude@users.sourceforge.net>
Matthew_Cline <zelgadis@sourceforge.net>
Matthew_Cline <zelgadis@c06c8d41-db1a-0410-9941-cceddc491573>
greensnark <dshaligram@users.sourceforge.net>
greensnark <scintilla@gmail.com>
greensnark <dshaligram@c06c8d41-db1a-0410-9941-cceddc491573>
by <rvollmert@gmx.net>
by <vollmert@a12.mi.fu-berlin.de>
pointless_ <ottochar@gmail.com>
pointless_ <caotto@.(none)>
Enne <enne.walker@gmail.com>
Enne <ennewalker@users.sourceforge.net>
Enne <ennewalker@c06c8d41-db1a-0410-9941-cceddc491573>
neunon <steven@uplinklabs.net>
Cryp71c <burnhamrobertp@gmail.com>
Cryp71c <rburnham@Optiplex-760-Dev1.(none)>
Cryp71c <rburnham@optiplex-crunch.(none)>
Cryp71c <rburnham@760-C2N.AHA>
felirx <felirx@gmail.com>
Mu <muuuuu@gmail.com>
Mu <muuuuu@users.sourceforge.net>
galehar <raphael.langella@gmail.com>
galehar <Raphael@.(none)>
elliptic <hyperelliptical@gmail.com>
edlothiol <flodiebold@gmail.com>
MarvinPA <chriscampbell89@gmail.com>
SamB <naesten@gmail.com>
|amethyst <neil@s-z.org>
dolorous <dolorous@users.sourceforge.net>
kilobyte <kilobyte@angband.pl>
doy <doy@tozt.net>
evilmike <evilmike@gmail.com>
Keskitalo <eino.keskitalo@gmail.com>
Keskitalo <evktalo@users.sourceforge.net>
Keskitalo <evktalo@c06c8d41-db1a-0410-9941-cceddc491573>
zaba <zaba@wybt.net>
zaba <zaba@thorium.homeunix.org>
Grunt <smelenchuk@gmail.com>
ontoclasm <yokomeshi@gmail.com>
frogbotherer <therealchriswest@hotmail.com>
bh <brendan@bhickey.net>
DracoOmega <draco_omega@live.com>
DracoOmega <a@a.com>
mumra <pete@downplay.co.uk>
mumra <pete@streamuniverse.tv>
Medar <pekka.lampila@iki.fi>
tenofswords <mwclaws@gmail.com>
Sage <Immotian@yahoo.com>
Sage <SageBasilMint@gmail.com>
gammafunk <gammafunk@gmail.com>
wheals <shm.mark@gmail.com>
reaverb <address.auto@gmail.com>
reaverb <reaverb.Crawl@gmail.com>
N78291 <N78291@gmail.com>
PleasingFungus <pleasingfung@gmail.com>
Lasty <corin@buchananhowland.net>
roctavian <sicsemperjohn@gmail.com>

# Other regular contributors
Napkin <napkin@develz.org>
atomjack <atomjack@users.sourceforge.net>
atomjack <mark@swallowtail.org>
Twinge <homelesspete@gmail.com>
yobbo <yobbobandana@yahoo.co.nz>
valrus <thevalrus@hotmail.com>
GreatZebu <akbecker@gmail.com>
Eronarn <eronarn@gmail.com>
Wensley <ben.striegel@gmail.com>
Wensley <bstriegs@yahoo.com>
ldierk <lothar.dierkes@googlemail.com>
nfogravity <sbalady@gmail.com>
Thann <thann@linux.com>
Thann <thann@i-wish-i-were-dead-laptop.(none)>
CommanderC <policarpocp@gmail.com>
ghallberg <ghallberg@gmail.com>
st_ <clouded@users.sourceforge.net>
tholmes <thomas@devminded.com>
Glenstorm <BurtonMatthewA@gmail.com>
nrook <nrook@nrook-laptop-linux.(none)>
nrook <nrook@nrook.com>
nrook <nrook@wesleyan.edu>
ncdulo <nick.cardullo@gmail.com>
ncdulo <kofrad@gmail.com>
tswett <swettt@mail.gvsu.edu>
tswett <tannerswett@gmail.com>
rriegs <rriegs@gmail.com>
toidinamai <frank@benkstein.net>
tmhedberg <t@tmh.cc>
scummos <svenbrauch@googlemail.com>
jvj24601 <drcraven1906@gmail.com>
dtsund <dtsund@email.arizona.edu>
ChrisOelmueller <chris.oelmueller@gmail.com>
rriegs <rriegs@gmail.com>
rriegs <ryan@skytreecorp.com>
heftig <jan.steffens@gmail.com>
faze <chrishoney@gmail.com>
faze <chrishoney@roarlabs.com>
mrwooster <guy@guyht@me.com>
mrwooster <guyht@me.com>
rwbarton <rwbarton@gmail.com>
Moredread <code@andre-bubel.de>
mursu <mtvepsal@gmail.com>
jilles <jilles@stack.nl>
Goncyn <wjrogers@gmail.com>
AriaB <ariasayshi@gmail.com>
alefury <chrischm@gmx.net>
Alexx999 <alexx999@gmail.com>
CKyle <kylejfox@gmail.com>
CKyle <kylefox2@illinois.edu>
HenryFlower <arien.malec@gmail.com>
qoala <ed.gonzalez3@gmail.com>
rchandra <mathie_uw@yahoo.ca>
hhkb <james.ravn@gmail.com>
badplayer <roblund@gmail.com>
Siegurt <keanan.smith@gmail.com>
Bodrick <bodricklight@gmail.com>
nonethousand <wizardosiris@gmail.com>
AreBrandon <rbrandonkime@gmail.com>
KennySheep <hail_to_the_squid@hotmail.com>
minmay <a@cowmuffins.net>
Miron <mike.boutin@gmail.com>
blabber <tobias.rehbein@web.de>
floatingatoll <rsoderberg@gmail.com>
johlstei <jeff@ohlste.in>
johnny0 <john.olender@gmail.com>
ChangeAj <aj.k.adamson@gmail.com>
nrook <nrook@google.com>
ais523 <ais523@bham.ac.uk>
croikle <croikle@gmail.com>
HilariousDeathArtist <svoboda.ryan@gmail.com>
johnstein <boylejm@gmail.com>
chequers <alex@jurkiewi.cz>
ebering <trizor@gmail.com>
zuurr <chiovolonit@gmail.com>
knu <knu@idaemons.org>
geekosaur <allbery.b@gmail.com>