body {
    background: black;
    color: white;
    font: 16px monospace;
}

#login {
    text-align: right;
    float: right;
}

#stats {
    display: inline-block;
    vertical-align: top;
    position: absolute;
}

#minimap, #minimap_overlay {
    position: absolute;
}

#crt {
    display: inline-block;
}

#lobby_body {
    text-align: center;
}

#player_list {
    width: 100%;
    text-align: left;
}

#player_list th.header {
}
#player_list th.headerSortDown,
#player_list th.headerSortUp {
    background-color: #111111;
}

#player_list tr:hover {
    background-color: #101010;
}

.floating_dialog {
    position: absolute;
    left: 50px;
    top: 50px;

    border: 1px solid white;
    padding: 10px;
    background-color: black;
}

#register label {
    width: 200px;
    float: left;
}

#reg_cancel {
    float: left;
}

#reg_submit {
    float: right;
}

.text {
    background-color: black;
    color: white;
    border: 1px solid white;
}
.button {
    background-color: #DDDDDD;
    border: 1px solid white;
}

#chat {
    width: 400px;
    position: fixed;
    bottom: 20px;
    right: 20px;

    color: #A2A2A2;

    font-size: small;

    padding: 5px;
    border: 1px solid #626262;

}

#chat_caption {
    font-weight: normal;
    text-decoration: none;
}

#chat_caption:hover {
    background-color: #111111;
}

#message_count {
    float: right;
}
#message_count.has_new {
    font-weight: bolder;
    color: green;
}

#chat_history_container {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
}

#chat_history {
    width: 100%;
}

.chat_sender {
    font-weight: bold;
}

#chat_input {
    width: 394px;
    font: small monospace;
}

a:link, a:active, a:visited {
    color: white;
    font-weight: bold;
}

a:hover {
    color: lightgrey;
    font-weight: bold;
}

.fg0 { color: rgb(  0,   0,   0); }
.fg1 { color: rgb(  0,  82, 255); }
.fg2 { color: rgb(100, 185,  70); }
.fg3 { color: rgb(  0, 180, 180); }
.fg4 { color: rgb(255,  48,   0); }
.fg5 { color: rgb(238,  92, 238); }
.fg6 { color: rgb(165,  91,   0); }
.fg7 { color: rgb(162, 162, 162); }
.fg8 { color: rgb( 82,  82,  82); }
.fg9 { color: rgb( 82, 102, 255); }
.fg10 { color: rgb( 82, 255,  82); }
.fg11 { color: rgb( 82, 255, 255); }
.fg12 { color: rgb(255,  82,  82); }
.fg13 { color: rgb(255,  82, 255); }
.fg14 { color: rgb(255, 255,  82); }
.fg15 { color: rgb(255, 255, 255); }

.bg0 { background-color: rgb(  0,   0,   0); }
.bg1 { background-color: rgb(  0,  82, 255); }
.bg2 { background-color: rgb(100, 185,  70); }
.bg3 { background-color: rgb(  0, 180, 180); }
.bg4 { background-color: rgb(255,  48,   0); }
.bg5 { background-color: rgb(238,  92, 238); }
.bg6 { background-color: rgb(165,  91,   0); }
.bg7 { background-color: rgb(162, 162, 162); }
.bg8 { background-color: rgb( 82,  82,  82); }
.bg9 { background-color: rgb( 82, 102, 255); }
.bg10 { background-color: rgb( 82, 255,  82); }
.bg11 { background-color: rgb( 82, 255, 255); }
.bg12 { background-color: rgb(255,  82,  82); }
.bg13 { background-color: rgb(255,  82, 255); }
.bg14 { background-color: rgb(255, 255,  82); }
.bg15 { background-color: rgb(255, 255, 255); }
