[Desktop Entry]
Name=Dungeon Crawl Stone Soup
GenericName=Roguelike dungeon exploration game
Comment=A fun game in the grand tradition of games like Rogue, Hack, and Moria
Type=Application
Icon=crawl
Exec=crawl-tiles
Terminal=false
Categories=Game;RolePlaying;
