body {
    margin: 0px;
}

#lobby {
    margin: 4px;
}

#left_column {
    line-height: 1em;
}

#right_column {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 0px;
    top: 0px;
}

.colour_black { color: black; }
.colour_blue { color: blue; }
.colour_green { color: green; }
.colour_cyan { color: cyan; }
.colour_red { color: red; }
.colour_magenta { color: magenta; }
.colour_brown { color: brown; }
.colour_lightgray { color: lightgray; }
.colour_darkgray { color: darkgray; }
.colour_lightblue { color: lightblue; }
.colour_lightgreen { color: lightgreen; }
.colour_lightcyan { color: lightcyan; }
.colour_lightred { color: #EE9090; }
.colour_lightmagenta { color: #EE90EE; }
.colour_yellow { color: yellow; }
.colour_white { color: white; }

#stats {
    display: inline-block;
    position: static;
    color: #babdb6; /* lightgray */
}

#stats_titleline, #stats_species_god {
    color: #fce94f; /* yellow */
}
#stats_piety {
    color: #fce94f; /* yellow */
}
#stats_piety.penance {
    color: #a40000; /* red */
}
#stats_piety.monk {
    color: #555753; /* darkgray */
}
#stats_wizmode {
    color: #204a87; /* blue */
}
.stats_caption {
    color: #8f5902; /* brown */
}

.degenerated_stat {
    color: #fce94f; /* yellow */
}
.zero_stat {
    color: #ef2929; /* lightred */
}
.low_stat {
    color: #a40000; /* red */
}
.boosted_stat {
    color: #729fcf; /* lightblue */
}

.degenerated_defense {
    color: #a40000; /* red */
}
.boosted_defense {
    color: #729fcf; /* lightblue */
}

.bar span {
    display: inline-block;
    height: 100%;
}

#stats_hp_bar {
    background-color: #555753; /* darkgray */
}
#stats_hp_bar_full {
    background-color: #8ae234; /* lightgreen */
}
#stats_hp_bar_decrease {
    background-color: #a40000; /* red */
}
#stats_hp_bar_increase {
    background-color: #4e9a06; /* green */
}

#stats_mp_bar {
    background-color: #555753; /* darkgray */
}
#stats_mp_bar_full {
    background-color: #729fcf; /* lightblue */
}
#stats_mp_bar_decrease {
    background-color: #5c3566; /* magenta */
}
#stats_mp_bar_increase {
    background-color: #204a87; /* blue */
}

/* Temperature bar, hidden normally */
#stats_heatline {
    display:none;
    visibility:hidden;
}

/* Visible for Lava Orcs */
#stats[data-species="Lava Orc"] #stats_heatline {
    display:block;
    visibility:visible;
}

#stats_heat_bar {
    background-color: #555753; /* darkgray */
}
#stats_heat_bar_full {
    background-color: #a40000; /* red */
}
#stats_heat_bar_decrease {
    background-color: #729fcf; /* lightblue */
}
#stats_heat_bar_increase {
    background-color: #ee4f45; /* lightred */
}

#stats[data-species="Djinni"] #stats_hp_bar_full {
    background-color: #ba2cde;
}
#stats[data-species="Djinni"] #stats_hp_bar_decrease {
    background-color: #2d0bba;
}
#stats[data-species="Djinni"] #stats_hp_bar_increase {
    background-color: #6c19e4;
}

/* Djinni contam bar */
#stats_contamline {
    display:none;
    visibility:hidden;
}

#stats[data-species="Djinni"] #stats_contamline {
    display:block;
    visibility:visible;
}
/* Hide MP bar */
#stats[data-species="Djinni"] #stats_mpline {
    display:none;
    visibility:hidden;
}

#stats_contam_bar {
    background-color: #555753; /* darkgray */
}

#stats_contam_bar_full {
    background-color: #343434;
}

#stats_contam_bar_decrease,
#stats_contam_bar_increase {
    background-color: #232323;
}

#stats_contamline[data-contam="2"] #stats_contam_bar_full {
    background-color: yellow;
}

#stats_contamline[data-contam="2"] #stats_contam_bar_decrease,
#stats_contamline[data-contam="2"] #stats_contam_bar_increase {
    background-color: saddlebrown;
}

#stats_contamline[data-contam="3"] #stats_contam_bar_full {
    background-color: red;
}

#stats_contamline[data-contam="3"] #stats_contam_bar_decrease,
#stats_contamline[data-contam="3"] #stats_contam_bar_increase {
    background-color: darkred;
}

#stats_contamline[data-contam="4"] #stats_contam_bar_full,
#stats_contamline[data-contam="4"] #stats_contam_bar_decrease,
#stats_contamline[data-contam="4"] #stats_contam_bar_increase {
    background-color: darkred;
}

#message_pane {
    width: 100%;
}
#messages_container {
    display: block;
    overflow-y: hidden;
}
#messages {
    line-height: 1.4em;
    width: 100%;
}
.prefix_glyph.command_marker {
    color: #555753; /* darkgray */
}
.prefix_glyph.turn_marker {
    color: #babdb6; /* lightgray */
}
.game_message {
    white-space: pre-wrap;
}

#minimap_block {
    display: block;
}

#minimap, #minimap_overlay {
    position: absolute;
}

#settings {
    min-width: 20em;
    min-height: 5em;
}

#close_settings {
    font-size: small;
    position: absolute;
    right: 10px;
    bottom: 10px;
}


/* monster list */
#monster_list {
    display: inline-block;
    overflow-x: hidden;
}

#monster_list .group {
    display: block;
}

#monster_list .picture {
    display: inline;
    vertical-align: middle;
}

#monster_list .name {
    vertical-align: middle;
}

#monster_list .trivial {
    color: #555753; /* darkgray */
}
#monster_list .easy {
    color: #babdb6; /* lightgray */
}
#monster_list .tough {
    color: #fce94f; /* yellow */
}
#monster_list .nasty {
    color: #ef2929; /* lightred */
}

#monster_list .friendly {
    color: #4e9a06; /* green */
}

#monster_list .good_neutral,
#monster_list .neutral,
#monster_list .strict_neutral {
    color: #8f5902; /* brown */
}

#monster_list .ellipse {
    float: right;
}

/* menus */
#menu {
    line-height: 1.2em;
    min-width: 40em;
}

#menu_title {
    white-space: pre;
}

#menu_more {
    white-space: pre;
}

#menu_contents {
    overflow: hidden;
}

#menu_contents ol {
    list-style: none;
    padding: 0;
    margin: 2px;
}

#menu_contents li {
    white-space: pre;
}

#menu_contents li.selectable:hover {
    outline: 1px solid lightgray;
    cursor: pointer;
}

#menu_contents li.placeholder {
    color: darkgray;
}

#menu .pattern_select {
    height: 1em;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: monospace;
    font-size: 16px;
}

#game .fg0 { color: #000000; } /* black */
#game .fg1 { color: #204a87; } /* blue */
#game .fg2 { color: #4e9a06; } /* green */
#game .fg3 { color: #06989a; } /* cyan */
#game .fg4 { color: #a40000; } /* red */
#game .fg5 { color: #5c3566; } /* magenta */
#game .fg6 { color: #8f5902; } /* brown */
#game .fg7 { color: #babdb6; } /* lightgray */
#game .fg8 { color: #555753; } /* darkgray */
#game .fg9 { color: #729fcf; } /* lightblue */
#game .fg10 { color: #8ae234; } /* lightgreen */
#game .fg11 { color: #34e2e2; } /* lightcyan */
#game .fg12 { color: #ef2929; } /* lightred */
#game .fg13 { color: #ad7fa8; } /* lightmagenta */
#game .fg14 { color: #fce94f; } /* yellow */
#game .fg15 { color: #eeeeec; } /* white */

#game .bg0 { background-color: #000000; } /* black */
#game .bg1 { background-color: #204a87; } /* blue */
#game .bg2 { background-color: #4e9a06; } /* green */
#game .bg3 { background-color: #06989a; } /* cyan */
#game .bg4 { background-color: #a40000; } /* red */
#game .bg5 { background-color: #5c3566; } /* magenta */
#game .bg6 { background-color: #8f5902; } /* brown */
#game .bg7 { background-color: #babdb6; } /* lightgray */
#game .bg8 { background-color: #555753; } /* darkgray */
#game .bg9 { background-color: #729fcf; } /* lightblue */
#game .bg10 { background-color: #8ae234; } /* lightgreen */
#game .bg11 { background-color: #34e2e2; } /* lightcyan */
#game .bg12 { background-color: #ef2929; } /* lightred */
#game .bg13 { background-color: #ad7fa8; } /* lightmagenta */
#game .bg14 { background-color: #fce94f; } /* yellow */
#game .bg15 { background-color: #eeeeec; } /* white */

/* A hack to align the columns in the spell menu */
.menu_spell #menu_title {
    margin-left: 32px;
}
