[Desktop Entry]
Name=Dungeon Crawl Stone Soup (tiles)
GenericName=Roguelike dungeon exploration game (tiles version)
Comment=A fun game in the grand tradition of games like Rogue, Hack, and Moria
Type=Application
Terminal=false
Categories=Game;AdventureGame;RolePlaying;
