[Desktop Entry]
Name=Dungeon Crawl Stone Soup (console)
GenericName=Roguelike dungeon exploration game (console version)
Comment=A fun game in the grand tradition of games like Rogue, Hack, and Moria
Type=Application
Terminal=true
Categories=Game;AdventureGame;RolePlaying;
