<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>NSPrincipalClass</key>
        <string>NSApplication</string>
        <key>NSHighResolutionCapable</key>
        <string>True</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>%NAME%</string>
	<key>CFBundleExecutable</key>
	<string>%EXECUTABLE%</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.crawl-ref</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>Crawl</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
        <key>CFBundleVersion</key>
        <string>%VERSION%</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.4.2</string>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>LSRequiresNativeExecution</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<false/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright %YEAR%, Crawl DevTeam</string>
</dict>
</plist>
